console ${c.records.size()}
<table id="" class="table table-borderless table-sm w-auto bg-dark text-light">
    #foreach($r in $c.records)
    <tr><td>
    #if($r.version)
        <span class="badge badge-pill badge-light">
        ${r.version}
        #foreach($pid in $r.propids)
            <span class="badge rounded-pill bg-info">$pid</span>
        #end
    </span>
    #end
    <td><tt>${r.line}</tt></td></tr>
    #end
</table>