<table class="table">
    <thead><tr>
        <th>Java Required</th>
        <th>Java Reported</th>
        <th>Log4J</th>
        <th>Active Props</th>
        <th>Attack type</th>
        <th>Result type</th>
        <th>Message mutated</th>
        <th>Payload</th>
        <th>Response</th>
    </tr></thead>
    <tbody>
    #foreach($r in $results)
    <tr><td>${r.jv.version}</td>
        <td>${r.reportedJava()}</td>
        <td>${r.lv.version}</td>
        <td>${r.activePropsLabels()}</td>
        <td>${r.getAttackName()}</td>
        <td>${r.result.name()}</td>
        <td>${r.mutated}</td>
        <td>${r.getPayload()}</td>
        <td><a href="/views/results/raw/${r.id}" target="_blank">raw</a></td>
        <td>${r.getConsoleData()}</td></tr>
    #end
    </tbody>
</table>