<!doctype html>
<html lang="en" data-framework="intercoolerjs">
<head>
    <meta charset="utf-8">
    <title>Log4JTester</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid">
    <div class="row">
            <div class="col-5">

                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">Attacks</h5>
                        #parse("/velocity/gridattacks.vm")
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Log4J2 Versions</h5>
                        <div id="versions-1">
                            #parse("/velocity/versions.vm")
                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Java Versions</h5>
                        <div id="versions-2">
                            #parse("/velocity/javalevels.vm")
                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Properties</h5>
                        <div id="properties">
                            #parse("/velocity/properties.vm")
                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <button ic-post-to="/gridtest" class="button btn-danger float-right">Run Grid Tests</button>
                        <button ic-post-to="/gridcancel" class="button btn-danger float-right">Cancel Grid executions</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Options</h5>
                        <div id="options">
                            #parse("/velocity/options.vm")
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-7">
            <div class="row" id="grid" ic-get-from="/views/gridtable" ic-target="#target-grid">
                <div id="target-grid">
                #parse("/velocity/gridtable.vm")
                </div>
            </div>
        </div>
    </div>

</div>

<div>

</div>
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/vendor/intercooler-0.9.6.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="js/wshandler.js"></script>
</body>
</html>