<table class="table">
    <thead><tr>
        <th>Java Required</th><th>Java Reported</th><th>Log4J</th><th>Result type</th><th>Message mutated</th><th>Message</th><th>Response</th>

    </tr></thead>
    <tbody>
    #foreach($r in $results)
    <tr><td>${r.jv.version}</td>
        <td>${r.reportedJava()}</td>
        <td>${r.lv.version}</td>
        <td>${r.type.name()}</td>
        <td>${r.mutated}</td>
        <td>${r.logMsg}</td>
        <td><a href="/views/results/raw/${r.id}" target="_blank">raw</a></td>
        <td>${r.getConsole()}</td></tr>
    #end
    </tbody>
</table>