#foreach($level in $levels)
<label><input type="checkbox" class="form-check-input toggle" ic-put-to="/java/${level.version}/toggle" #if(!$level.present)disabled#end #if($level.active)checked#end>
   #if($level.present)
    ${level.version}
    #else
    <del>${level.version}</del>
    #end
</label>
#end