#foreach($p in $properties)
<label><input type="checkbox" class="form-check-input toggle" ic-put-to="/vmproperty/${p.name}/toggle" #if($p.active)checked#end>${p.name}<span class="badge rounded-pill bg-info">${p.id}</span></label>
#end