#foreach($version in $versions)
<label><input type="checkbox" class="form-check-input toggle" ic-put-to="/version/${version.version}/toggle" #if($version.active)checked#end>${version.version}</label>
#end